.prompt {
  background: $gray;
  padding: 2vh 2vw;
  border: 5px $light-gray outset;

  p {
    font-size: 1.5em;
    font-family: "Augustus Beveled";
    color: $white;
    display: inline-block;
    text-shadow: 1px 1px $black;
    margin: 5px 2vw 0 2vw;

    span {
      font-size: 1.1em;
      font-family: "Acme";
    }
  }

  p:first-child {
    span {
      color: $red;
    }
  }

  p:nth-child(2) {
    span {
      color: $blue-deep;
    }
  }

  p:nth-child(3) {
    span {
      color: $bright-green;
    }
  }

  section {
    display: inline-block;
    width: 20vw;
    height: 3vh;
    background: $black;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2vw;
      z-index: 3;
      color: $white;
    }
  }
}

@keyframes countdown {
  100% {
    width: 0;
  }
}
