.prompt {
  background: $gray;
  padding: 2vh 2vw;
  border: 5px $light-gray outset;

  p {
    font-size: 1.5em;
    font-family: "Augustus Beveled";
    color: $white;
    display: inline-block;
    text-shadow: 1px 1px $black;
    margin: 5px 2vw 0 2vw;

    span {
      font-size: 1.1em;
      font-family: "Acme";
    }
  }

  p:first-child {
    span {
      color: $red;
    }
  }

  p:last-child {
    span {
      color: $blue-deep;
    }
  }
}
